<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="flex-container">
    <!-- List of Sliding Items -->
<ion-list>
  <ion-item-sliding>
    <ion-item>
      <ion-label>
        <h2>Rent</h2>
        <h3 style="color:dodgerblue; margin-top: 5px;">7249 kr</h3>
        <p style="margin-top: 5px;">2020-04-25</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option style="background-color: rgb(255, 57, 57); width:45px" (click)="unread(item)">  <ion-icon name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
    <ion-item-options side="start">
      <ion-item-option style="background-color: rgb(49, 219, 49); width:45px" (click)="unread(item)">    <ion-icon name="checkmark-circle"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item>
      <ion-label> <h2>Borås Elnät</h2>
        <h3 style="color:dodgerblue; margin-top: 5px;">249 kr</h3>
        <p style="margin-top: 5px;">2020-04-25</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option style="background-color: rgb(255, 57, 57);  width:45px" (click)="unread(item)">  <ion-icon name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
    <ion-item-options side="start">
      <ion-item-option style="background-color: rgb(49, 219, 49);  width:45px" (click)="unread(item)">    <ion-icon name="checkmark-circle"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-label>
        <h2>Telia Bredbandsabonemang</h2>
        <h3 style="color:dodgerblue; margin-top: 5px;">398 kr</h3>
        <p style="margin-top: 5px;">2020-04-25</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option style="background-color: rgb(255, 57, 57);  width:45px" (click)="unread(item)">  <ion-icon name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
    <ion-item-options side="start">
      <ion-item-option style="background-color: rgb(49, 219, 49);  width:45px" (click)="unread(item)">    <ion-icon name="checkmark-circle"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-label>
        <h2>Spotify</h2>
        <h3 style="color:dodgerblue; margin-top: 5px;">49 kr</h3>
        <p style="margin-top: 5px;">2020-04-25</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option style="background-color: rgb(255, 57, 57); width:45px" (click)="unread(item)">  <ion-icon name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
    <ion-item-options side="start">
      <ion-item-option style="background-color: rgb(49, 219, 49);  width:45px" (click)="unread(item)">    <ion-icon name="checkmark-circle"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-label> <h2>Netflix</h2>
        <h3 style="color:dodgerblue; margin-top: 5px;">149 kr</h3>
        <p style="margin-top: 5px;">2020-04-25</p></ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option style="background-color: rgb(255, 57, 57);  width:45px" (click)="unread(item)">  <ion-icon name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
    <ion-item-options side="start">
      <ion-item-option style="background-color: rgb(49, 219, 49);  width:45px" (click)="unread(item)">    <ion-icon name="checkmark-circle"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-label> <h2>HBO</h2>
        <h3 style="color:dodgerblue; margin-top: 5px;">109 kr</h3>
        <p style="margin-top: 5px;">2020-04-25</p></ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option style="background-color: rgb(255, 57, 57);" (click)="unread(item)">  <ion-icon name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
    <ion-item-options side="start">
      <ion-item-option style="background-color: rgb(49, 219, 49);" (click)="unread(item)">    <ion-icon name="checkmark-circle"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-label>
        <h2>Klarna - Alcogel x2</h2>
        <h3 style="color:dodgerblue; margin-top: 5px;">178 kr</h3>
        <p style="margin-top: 5px;">2020-04-25</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option style="background-color: rgb(255, 57, 57);" (click)="unread(item)">  <ion-icon name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
    <ion-item-options side="start">
      <ion-item-option style="background-color: rgb(49, 219, 49);" (click)="unread(item)">    <ion-icon name="checkmark-circle"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-label>
        <h2>Dad</h2>
        <h3 style="color:dodgerblue; margin-top: 5px;">3000 kr</h3>
        <p style="margin-top: 5px;">2020-04-25</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option style="background-color: rgb(255, 57, 57);" (click)="unread(item)">  <ion-icon name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
    <ion-item-options side="start">
      <ion-item-option style="background-color: rgb(49, 219, 49);" (click)="unread(item)">    <ion-icon name="checkmark-circle"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-label>
        <h2>IKEA - Säng Brimnes</h2>
        <h3 style="color:dodgerblue; margin-top: 5px;">6001 kr</h3>
        <p style="margin-top: 5px;">2020-04-25</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option style="background-color: rgb(255, 57, 57);" (click)="unread(item)">  <ion-icon name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
    <ion-item-options side="start">
      <ion-item-option style="background-color: rgb(49, 219, 49);" (click)="unread(item)">    <ion-icon name="checkmark-circle"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

 
</ion-list>
    <!-- <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
  </div>
  <div class="fab-btn-vertical-position">
    <div class="fab-btn-position">
      <ion-fab>
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>   
    </div>
  </div>

 
</ion-content>
